<header>{margin:50px ;
background-color: #d16d6d;
justify-content: ;
padding-top: ;

}





body
{background-color: #d16d6d;
color: #d16d6d;
}
section{background-color: #d16d6d;
margin: ;
display:flex
}