body
{background-color: blue;
color: #161ae4;}



<section>
{background-color: #161ae4;
padding-top: ;
padding-bottom:88px;
display: flex;}

 .primeira chamada{
    display: flex;
    overflow-x:auto;
    gap: 10px
 }
  
header{
margim 5px
border solido 5px:;
padding:20px;
}

